#quote-box{
  alignment: center;
  background-color: white;
  max-width: 60%;
  margin-left:20%;
  padding:50px 20px;
  border-radius: 20px;
  margin-top:10%;
}

#quote-box:hover{
  background-color: #bed3f2;
}
p{
  text-align: center;
  font-size:34px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
#author{
  text-align: end;
  font-family: "Comic Sans MS";
}

#new-quote{
  float:right;
  background-color: coral;
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom:10%;
  border:none;
  font-size:20px;
  color:white;
}
#new-quote:hover{
  background-color: #0062cc;
}

#tweet-quote{
  text-align: start;
}

body{
  background-color: coral;
}